.screen {
  width: var(--appWidth);
  height: var(--appHeight);
  left: 0;
  position: absolute;
  top: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.flex-row {
  display: flex;
  flex-flow: row;
  gap: var(--gap);
}

.flex-row-center {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.abs {
  position: absolute;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.abs-center-v {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.full-width-img {
  width: 100%;
}
