.invitation {
  .screen-toast.-mini {
    width: 362px;
  }

  .screen-toast.-expanded {
    width: 362px;
    height: 307px;
    padding: 12px;
    justify-content: space-between;
    border: 1px rgba(255, 255, 255, 0.03);

    .buttons {
      height: 40px;
    }
    .player-card {
      width: 342px;
    }
  }
}
