.ssic-helpers {
  position: absolute;
  height: 100%;
  left: 0px;
  z-index: 6;

  .heading--s {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
  }

  .sidebarItem {
    margin-bottom: 30px;
  }
}

.ssic-helpers__qrCode {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 4px;
  padding: 0 1rem;
  background: black;
}

.qrCodeContainer {
  display: inline-block;
  padding: 12px;
  border-radius: 6px;
  background-color: white;
}
